* {
    margin: 0;
    padding: 0;

}



#background-img {
    position: fixed;
    z-index: 0;
    height:100%;
    width: 100%;
}

/* Position canvas wrapper */
#canvasWrapper {
    z-index: 3;
    width: 60%;
    padding: 5% 5% 5% 5%;
    background-color: white;
    margin-left: 15%;
    position: relative;
}

#btnWrapper {
    position: relative;
    width: 100%;
    padding: 20px 0 20px 0;
    text-align: center;
}

/* styling af knappen er taget fra internettet */
#btnWrapper button {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    margin: 0 20px 10px 0;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;touch-action: manipulation;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

}

#btnWrapper button:active {
     box-shadow: 0px 0px 0px 0px;
     top: 5px;
     left: 5px;
 }

#overallBtn {
    margin-right: 5%;
    padding: 10px 20px 10px 20px;

}

#swedenBtn {
    margin-right: 5%;
    padding: 10px 20px 10px 20px;
}

#japanBtn {
    margin-right: 5%;
    padding: 10px 20px 10px 20px;
}

#usaBtn {
    margin-right: 5%;
    padding: 10px 20px 10px 20px;
}

#usaBtn {
    margin-right: 5%;
    padding: 10px 20px 10px 20px;
}

#ukBtn {
        margin-right: 5%;
        padding: 10px 20px 10px 20px;
}



                                                       /* CSS */




