* {
    margin: 0;
    padding: 0;

}


#background-img {
    position: fixed;
    z-index: -1;
    height:100%;
    width: 100%;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #355367; /* Background color for the sticky nav */
}


#btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(12, 99, 71, 0.0);
    position: sticky;
    top: 0;
    z-index: 8888;
}


/* styling af knappen er taget fra internettet */
#btnWrapper button {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    margin: 0 5px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #222242;
    cursor: pointer;
    border: 3px solid;
    padding: 10px 20px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

#btnWrapper button:active {
     box-shadow: 0px 0px 0px 0px;
     top: 5px;
     left: 5px;
 }

/* Position canvas wrapper */
#canvasWrapper {
    width: 60%;
    padding: 5% 5%;
    background-color: white;
    margin-left: 15%;
    position: relative;
    margin-bottom: 200px;
}

#canvasWrapper2 {
    width: 60%;
    padding: 5% 5%;
    background-color: white;
    margin-left: 15%;
    position: relative;
}

#totalRevenue {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
}

#overallBtn, #denmarkBtn, #canadaBtn, #usaBtn, #topSellingBtn, #ukBtn {
    margin-right: 5%;
    padding: 10px 20px 10px 20px;

}
